<!DOCTYPE html>
<html>
  <head>
    <title>SUBSTITUTE STATUS</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/table.css"
    <script src="/static/jquery.min.js"></script>
    
  </head>
  <body>
    <nav>
        <ul>
            <li><a  href="/">LOGOUT</a></li>
            <li><a href="substituterequestpage" >SUBSTITUTE REQUESTS</a></li>
            <li><a href="substitutestatuspage"  class="active">SUBSTITUTE STATUS</a></li>
            <li><a href="reqsubstitutepage"  >REQUEST SUBSTITUTE</a></li>
            <li><a href="tviewtimetablepage" >VIEW TIME TABLE</a></li>
            
            
          </ul>
    </nav>
    
<br>

  <center>
    <div class="flashes">
    
        {% for message in get_flashed_messages() %}
          {{ message }}
        {% endfor %}
    
      </div>
    <h1>SUBSTITUTE REQUEST STATUS</h1>
<table id="mytable">
    <thead>
        <tr>
           
            <th>TEACHER</th>
            <th>SUBJECT</th>
            <th>SUBSTITUTE DATE</th>
            <th>TIME</th>
            <th>STATUS</th>
            <th>ACTION</th>
            
        </tr>
    </thead>
    <tbody>
        {% for r in res %}
        <tr>
            <td>{{ r[8] }}</td>
            <td>{{ r[3] }}</td>
            <td>{{ r[4] }}</td>
            <td>{{ r[5] }}</td>
            <td>{{ r[6] }}</td>
            <td><a href="Deletesubstitue?id={{ r[0] }}" class="del">DELETE</a></td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>

</center>
  </body>
</html>