<!DOCTYPE html>
<html>
  <head>
    <title>Register Page</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <style>
      body{
      
      background-image: url("/static/background.jpg") ;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position-y: 40px;
      
      }
          </style>
  </head>
  <body >
    
    <nav>
      <ul>
        <li><a  href="/">LOGOUT</a></li>
        <li><a href="teacherregisterpage"  class="active">ADD TEACHER</a></li>
        <li><a href="aviewtimetablepage" >VIEW TIME TABLE</a></li>
        <li><a href="generateseatingpage" >GENERATE SEATING ARRANGEMENT</a></li>
        <li><a href="gentpage" >GENERATE TIME TABLE</a></li>
        <li><a  href="viewteacherspage">VIEW TEACHERS</a></li>
        <li><a  href="addsubjectpage" >MAP TEACHER & SUBJECT</a></li>
        
      </ul>
    </nav>
<br><br><br><br><br><br><br>

    <div class="form">
      <h2>TEACHER REGISTERATION</h2>
      <div class="flashes">
        {% for message in get_flashed_messages() %}
          {{ message }}
        {% endfor %}
      </div>
      <form action="teacherregister" method="POST">


        <label for="name">NAME:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">EMAIL:</label>
        <input type="email" id="email" name="email" required>

        <label for="phone">PHONE:</label>
        <input type="number" id="phone" name="phone" onchange="validatephno()" required>

      
        <label for="password">PASSWORD:</label>
        <input type="password" id="password" name="password" required>
        
        <input type="submit" value="REGISTER">
      </form>
    </div>
    <br><br><br>

    <script>
      function validatephno(){
        var phno = document.getElementById("phone").value;
        var phnolen = phno.length;
        if(phnolen!=10){
      alert("Invalid phone number");
      document.getElementById("phone").value="";
        }
      }

     
      
      </script>
  </body>
</html>