<!DOCTYPE html>
<html>
  <head>
    <title>LIST</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/table.css"
    <script src="/static/jquery.min.js"></script>
    
  </head>
  <body>
    <nav>
      <ul>
        <li><a  href="/">LOGOUT</a></li>
        <li><a href="aviewtimetablepage" >VIEW TIME TABLE</a></li>
        <li><a href="generateseating" >GENERATE SEATING ARRANGEMENT</a></li>
        <li><a href="gentpage" >GENERATE TIME TABLE</a></li>
        <li><a  href="viewteacherspage" class="active">VIEW TEACHERS</a></li>
        <li><a  href="addsubjectpage"  >MAP TEACHER & SUBJECT</a></li>
        
      </ul>
    </nav>
    
<br><br><br><br>

  <center><h1>LEAVE REQUEST LIST</h1>
<table id="mytable">
    <thead>
        <tr>
            <th>SUBJECT</th>
            <th>TEACHER</th>
            <th>EMAIL</th>
            <th>ACTION</th>
            
        </tr>
    </thead>
    <tbody>
        {% for r in res %}
        <tr>
            <td>{{ r[1] }}</td>
            <td>{{ r[2] }}</td>
            <td><a href="Deletest?id={{ r[0] }}" class="del">DELETE</a></td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="flashes">
    
    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}

  </div>
</center>
  </body>
</html>